* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: #f8f9fa;
    height: 80vh;
    width: 80vh;
    border: 3px black solid;
    margin: auto;
}