* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: hwb(0 90% 10%);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-content: center;
    justify-content: center;

}

.cell {
    border: 1px solid whitesmoke;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

button {
    margin: 10px 75px;
}